h2 {
color: blue;
font-family: arial;
font-size: 45px;
text-align: center;
margin-top: 50px;
}
h3 {
color: blue;
font-family: arial;
font-size: 30px;
margin-left: 10px;
margin-right: 10px;
}
h4 {
color: blue;
font-family: arial;
font-size: 30px;
text-align: center;
}